body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
        color: #bfbebe;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-nav {
    float: right;
    text-transform: lowercase;
}
.col-md-4 h2 {
    font-size: 27px;
}

h4{
    font-size:16px;
}

h3.work, .index h3{
        font-size: 18px;
    text-transform: uppercase;
    margin-left: -15px;
}
h3.contact{
        font-size: 18px;
    text-transform: uppercase;}


.jumbotron{
       // background: url(../images/home_image.png) no-repeat;
    //background-size: 1140px auto;
    margin-top: 20px;
   // height: 188px;
   background:#000;
       padding-bottom: 10px;
    padding-top: 10px;
}
.jumbotron p{

        font-size: 80px;
    text-align: center;
    color: #ddd;
}

.col-md-4{
    color: #bfbebe;
    border: 1px solid;
    text-align: center;
    padding: 40px;
    height: 330px;
}

.col-md-4 h2{
    font-size:27px;
}

.col-md-4 i{
    font-size:72px;
}
.work .col-md-4{
        height: 650px;
          text-align:left;
}

.work img{
    display:block;
  
}
.work .col-md-4 h4{
    font-weight: bold;
}
    .row.work ul {
        margin-left:-40px;
        text-align:left;
    }

footer p{
    color:#00d4ff;
    font-size: 13px;
}