@{
    ViewBag.Title = "Contact";
}
<!--<h2>@ViewBag.Title.</h2>-->
<h3 class="contact">@ViewBag.Message</h3>



<address>
    <strong>email:</strong>   <a href="mailto:kongsau@gmail.com">kongsau@gmail.com</a><br />
</address>