@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Hi, my name is Ting.</p>
</div>

<div class="row index">
    <div class="col-md-4">
        
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <h2>Web Designer</h2>
        <p>My journey and passion with code began as a web designer. I have a strong focus in aesthetic and userability.</p>

    </div>
    <div class="col-md-4">
        <i class="fa fa-html5" aria-hidden="true"></i>

         <h2>Front End Developer</h2>
        <p>At Media Genesis, I was their only front end person. Anything visual or responsive fell on my lap. 
        I got to work on sites that were built in drupal, wordpress, and html.</p>
    </div>
    <div class="col-md-4">
        <i class="fa fa-code" aria-hidden="true"></i>
        <h2>C# and .Net</h2>
        <p>Currently I am going to school at The Iron Yard. As a front end developer I realize the backend plays an important role to the front end. 
        I am expanding my horizon and digging deeper and growing as a developer.</p>
    </div>
</div>