
@{
    ViewBag.Title = "Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<h2>@ViewBag.Title.</h2>-->
<h3 class="work">@ViewBag.Message</h3>

<div class="row work">
    <div class="col-md-4">

        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <h2>Media Genesis</h2>
        <h4>Front End Developer</h4>
        <ul>
            <li>Lead UI designer and front end developer for a 10 month project to create an app with a
        software engineer.</li>
            <li>Strong focus on responsive, cross-platform, and user friendly development</li>
            <li>Worked in teams, involving project managers, designers and software engineers to meet tight
        deadlines</li>
            <li>Built unique and custom Wordpress themes, each theme has a strong focus for the user.
        Created to make it extremely easy for the client to make changes to their site, without any
        knowledge of code required.</li>
            <li>Transformed old websites, into responsive, animated modern websites.</li>
            <li>Worked with project managers to transform wire frames into fully functioning websites using
        html5, css3, and jquery.</li>

        </ul>
   



    </div>
    <div class="col-md-4">
        <i class="fa fa-html5" aria-hidden="true"></i>

        <h2>St. Clair Community College</h2>
        <h4>Professor</h4>
        <p>
           The class was called Web Design for the Graphic Designer. I was 
           responsible for teaching HTML and CSS and merging the world of design with code for the graphic design students at St Clair Community College. 
        </p>

        <p>At the end of the class all of the students were able to custom code and style their own web site from scratch.</p>
    </div>
    <div class="col-md-4">
        <i class="fa fa-code" aria-hidden="true"></i>
        <h2>Advanced Media Solutions</h2>
        <h4>Web Designer</h4>
        <p>
            Worked in mutiple CMS: Wordpress, Volusion, Big Commerce, and CS Cart. 	Worked closely with the client to have their vision 
            clearly represented on the website. Redesigned home pages for SEO optimization and UX. Integrated UX/UI on already existing web sites
             for better conversions. Created responsive, unique, and custom wordpress themes. 



        </p>
    </div>
</div>

